<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <title>Cursos</title>
  </head>
  <body>
    <header class="row">
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn">&times;</a>
        <a href="/todos-cursos">Ver Cursos</a>
        <a href="/formulario-curso">Cadastrar Curso</a>
      </div>

      <div class="openNav">
        <div class="barra"></div>
        <div class="barra"></div>
        <div class="barra"></div>
      </div>

      <div class="logo"></div>

    </header>

    <div class="banner">
      <div class="banner-text">
        <h1>Cadastrar Curso</h1>
      </div>
    </div>

    <div id="main">
      <div class="container-fluid">

        <div class="row col-md-12 wrapper-contato">

            <div class="sobre-contato col-md-6">
                <h2>Insira as informacoes</h2>

                <% if(validacao)  { %>
                    <ul>
                            <% for(var i = 0; i < validacao.length; i++) { %>
                                <li><%= validacao[i].msg %></li>
                            <%  } %>
                    </ul>
                <%  } %>
                
                <form id="form" name="form" action="/inserir-curso" method="post">

                    <div class="form-group">
                        <label for="nome">Nome do curso</label>
                        <input type="text" class="form-control" id="nome" name="nome">
                    </div>

                    <div class="form-group">
                        <label for="descricao">Descricao</label>
                        <input type="text" class="form-control" id="descricao" name="descricao">
                    </div>

                    <div class="form-group">
                        <label for="autor">Autor</label>
                        <input type="text" class="form-control" id="autor" name="autor">
                    </div>

                    <div class="form-group">
                        <label for="categoria">Categoria</label>
                        <input type="text" class="form-control" id="categoria" name="categoria">
                    </div>

                    <div class="form-group">
                        <label for="nivel">Nivel</label>
                        <input type="text" class="form-control" id="nivel" name="nivel">
                    </div>

                    <div class="form-group">
                        <label for="privacidade">Privacidade</label>
                        <input type="text" class="form-control" id="privacidade" name="privacidade">
                    </div>

                    <div class="form-group">
                        <label for="duracao">Duracao</label>
                        <input type="text" class="form-control" id="duracao" name="duracao">
                    </div>

                    <div class="form-group">
                        <label for="preco">Preco</label>
                        <input type="number" class="form-control" id="preco" name="preco">
                    </div>

                    <button type="submit">Enviar</button>
                </form>

            </div>
        </div>

        </div>
    </div>

    <footer class="col-sm-12">
      <img src="/img/logo-branco-min.png" alt="">
      <h2>Multi</h2>
    </footer>
  </body>

  <script src="/js/main.js"></script>
</html>

